<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
  <!--   panel body -->
        <div class="panel panel-default">
          <div class="panel-body">
      <!--       start form -->
            <form class="form-horizontal" action="/register">
<!--               first name -->
              <div class="form-group">
                <label class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                   <p class="form-control-static">{{firstName}}</p>
                </div>
              </div>
      <!--         middle initial -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Middle Initial</label>
                <div class="col-sm-9">
                   <p class="form-control-static">{{middleInitial}}</p>
                </div>
              </div>
      <!--         last name -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                   <p class="form-control-static">{{lastName}}</p>
                </div>
              </div>
      <!--         dob -->
              <div class="form-group">
                <label class="col-sm-3 control-label">DOB</label>
                <div class="col-sm-9">
                  <p class="form-control-static">{{dob}}</p>
                </div>
              </div>
      <!--         pw -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                   <p class="form-control-static">{{password}}</p>
                </div>
              </div>

      <!--         gender -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Gender</label>
                <div class="col-sm-9">
                  <p class="form-control-static">{{gender}}</p>
                </div>
              </div>
      <!--         newsletter -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Sign Up for newsletter</label>
                <div class="col-sm-9">
                  <p class="form-control-static">{{email}}</p>
                </div>
              </div>
      <!--         bio -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Biography</label>
                <div class="col-sm-9">
                   <p class="form-control-static">{{bio}}</p>
                </div>
              </div>
            </form>
  <!--           form end -->
          </div>
        </div>
  <!--       panel end -->
      </div>
    </div>
  </div>
</body>
</html>
